/* main style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  color: #d9dcd6;
  margin-left: 20px;
  margin-right: 20px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* header and navigation style */
header {
  padding: 20px;
  background-color: #444646;
  color: #024e76;
}

header h1 {
  font-size: 40px;
  display: inline-block;
  background-color: #bbf8f9;
  color: #444646;
}

header a {
  color: #bbf8f9;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.hero {
  background-image: url("../images/scenery.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-section h2 {
  border-right: 2px solid #024e76;
  width: 25%;
  text-align: center;
  flex-shrink: 0;
  color: #024e76;
}

.body-section {
  display: flex;
  margin-top: 15px;
}

.body-section img {
  height: 200px;
}

.body-section div {
  margin-left: 15px;
  color: #024e76;
}

.column {
  display: flex;
  flex-basis: calc(50% -1em);
  min-height: 150px;
  min-width: 150px;
}

.column > a {
  text-decoration: none;
}

.column:first-child {
  flex-basis: 100%;
  max-width: 80%;
}
.project1 {
  background-image: url("../images/Screenshot1_HoriseonProject.png");
}
.project2 {
  background-image: url("../images/septomeme.png");

.project3 {
  background-image: url("../images/") ;
}

.project-desc {
  background-color: #bbf8f9;
  color: #444646;
  padding: 10px;
  margin-top: 120px;
  margin-left: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
