/* main style */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* header and navigation style */
header {
  padding: 20px 0 20px 0;
  background-color: #444646;
  color: #024e76;
}

header h1 {
  font-size: 40px;
  display: inline-block;
  background-color: #afe9e9;
  color: #444646;
  padding: 0 10px 0 50px;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}

header a {
  color: #afe9e9;
}

header nav {
  margin-right: 20px;
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  text-decoration-thickness: 3px;
}

/* hero style */
.hero {
  background-image: url("../images/scenery.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  font-size: 25px;
  text-align: right;
  background-color: #afe9e9;
  color: #444646;
  padding: 5px;
  float: right;
  margin-top: 9%;
  margin-right: 5%;
}

.body-section h2 {
  border-right: 2px solid #024e76;
  width: 200px;
  text-align: right;
  flex-shrink: 0;
  color: #024e76;
  font-size: 35px;
  padding-right: 15px;
}

.body-section {
  display: flex;
  margin: 30px;
  column-gap: 25px;
}

.body-section img {
  height: 200px;
}

.body-section div {
  color: #024e76;
}

.p {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  min-height: 150px;
  min-width: 550px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.row {
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

a:hover {
  color: antiquewhite;
}

.card-header,
.card-footer {
  background-color: #afe9e9;
  padding: 5px 5px 5px 5px;
}

.card-container#first-card {
  flex-basis: 95%;
}

.card-container {
  flex-basis: 47%;
}

.card-container:hover {
  opacity: 0.6;
}
.project1 {
  background-image: url("../images/run-buddy.png");
  min-height: 300px;
  background-size: cover;
  flex-basis: 92%;
  border: 5px solid #afe9e9;
}

.project2 {
  background-image: url("../images/septomeme.png");
  min-height: 125px;
  background-size: cover;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid #afe9e9;
}

.project3 {
  background-image: url("../images/Screenshot1_HoriseonProject.png");
  min-height: 125px;
  background-size: cover;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid #afe9e9;
}

.futureProject {
  background-image: url("../images/futureproject_background.png");
  min-height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  flex-basis: 50%;
  border: 5px solid #afe9e9;
}

.future h3 {
  font: 20px;
  color: #afe9e9;
}

/* Contact Style Begin */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.contact ul li {
  padding: 30px 25px 25px 25px;
}

.contact ul li a {
  text-decoration: none;
  color: #444646;
  border-bottom: solid #444646 3px;
  font-size: 20px;
}

.contact ul li a:hover {
  color: white;
  background-color: blue;
  padding: 10px;
}
